pygame
google
streamlit
SpeechRecognition
gTTS
llama-index-core
llama-index-core
llama-index-llms-gemini
llama-index-vector-stores-qdrant
llama-index-core
llama-index-core
llama-index-embeddings-huggingface
llama-index-core
IPython
